.role{
    font-size: 20px;
    color: yellowgreen;
}
section h3{
    color : #3c3c3c;
}
section img{
    border-radius: 100px;
    width: 40%;
}
.boxing{
    width: 300px;
    text-align: center;
    display: inline-block;
}
.boxing h3{
    font-size: 25px;
/*    text-align: center;*/
}
.front{
    width: 100%;
    margin-bottom: 100px;

}
.back{

    width: 100%;

}
#all{
    padding: 70px;
    text-align: center;
}
/*.boxing img{
    border : 2px solid green;
}*/
