/*reset, basic*/
body{
    margin: 0;
    padding: 0;
}

/* header a:visited{
    color: rgb(77, 53, 39);
} */
nav h2{
    font-size: 50px;
    font-weight: 300;
    color:rgb(77, 53, 39);
}

li{
    /* border-bottom: 1px solid rgb(77, 53, 39); */
    display: inline-block;
    list-style: none;
    height: 100%;
    color: rgb(77, 53, 39);
    list-style: none;
}
nav{
    background-image: none;
    /* background-color: #eee; */
}
a{
    color:inherit;
    text-decoration: none;
}
span{
    font-size: 0.5rem;
    z-index: 30;
    position: relative;
}
.grid{
    margin: auto;
    padding: auto;
}
.grid-width{
    width: 45%;
    margin-left: 3em;
    padding: 0;
    float: left;
    margin-top : 1em;
}
div, ul, li{
    list-style-type: none;
  }

  /* -- FLUID GRID STYLES -- */

#Grid{
    margin-bottom: 40px;
    text-align: center;
    font-weight: 1;
    margin: 0;
    padding: 0;
}
.infor{
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: -50%;
    height: 700%;
    width: 200%;
}
.right_infor {
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: -50%;
    height: 800%;
    width: 200%;
}
.bt button {
    display: block;
    padding: .8rem;
    border: none;
    margin: 1rem auto;
    font-size: 1.3rem;
    background: rgb(73, 73, 73);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s background;
  }
.bt  a{
    text-decoration: none;
}
.bt button:hover {
   background: rgba(0,0,0,0.5);
}

.bt a:hover{
  background:rgba(0,0,0,0.9);
}

#Grid li{
    /* text-align: center; */
    font-size: 2em;
    display: inline-block;
    background: rgba(77, 53, 39, 0.4);
    width: 40%;
    height: 1em;
    padding-top: 2em;
    padding-right: 5em;
    padding-left: 5em;
    padding-bottom: 14em;
}
#Grid p{
    margin: 10% auto;
    font-size: 0.7em;
}

/*.grid-width{
    overflow: scroll;
}*/

  /* -- MEDIA QUERIES DEFINING RESPONSIVE LAYOUTS -- */

  /* 3 COL */

  @media (max-width: 800px){
    #Grid li{
      width: 31%;
      padding-top: 31%;
      margin-bottom: 3%;
    }
  }

  /* 2 COL */

  @media (max-width: 600px){
    #Grid li{
      width: 48%;
      padding-top: 48%;
      margin-bottom: 4%;
    }
  }

  /* SINGLE COL */

  @media (max-width: 400px){
    #Grid li{
      width: 100%;
      padding-top: 100%;
      margin-bottom: 5%;
    }
  }
.tablemargin{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 1em;
}

  /* -- LEGEND STYLES (NOT PART OF GRID FRAMEWORK) -- */

  h1{
    font: 600 20px "Helvetica Neue";
    text-align: right;
    text-transform: uppercase;
  }


nav p{
    font: 200 15px/1.5em "Helvetica Neue";
    max-width: 400px;
    margin-bottom: 30px;
    color: #333;
  }
table{
    margin: 2em auto;
    font : 200 15px/1.5em "Helvetica Neue";
}
thead {
    margin: 2em auto;
    display: block;
}
.btt{
    display: block;
    padding: .8rem;
    border: none;
    margin: 1rem auto;
    font-size: 1.3rem;
    background: rgb(73, 73, 73);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s background;
}
tbody {
    margin: 1em auto;
    display: block;
    height: 150px;
    overflow: auto;
}

th:nth-of-type(1), td:nth-of-type(1) {
    width: 20px;
}

th:nth-of-type(2), td:nth-of-type(2) {
    width: 90px;
}

th:nth-of-type(3), td:nth-of-type(3) {
    width: 200px;
}

th:nth-of-type(4), td:nth-of-type(4) {
    width: 220px;
}
#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.squaredFour {
  width: 20px;
  position: relative;
  margin: 20px auto;
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.5;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}
