.nav-content-inner {
	height: 100%;
	text-align: justify;
}

.nav-content-inner .room {
	width: 30%;
	border: 2px solid red;
	display: inline-block;
	margin-left: 5%;
	margin-right:10%;
}
.nav-content-inner .room li{
	font: 15px;
	/*height: 100px;*/
}
.nav-content-inner .timetable{
	border: 2px solid blue;
	display: inline-block;
}

.rnum{
	border: solid 5px green;
	margin: 5px;
	padding: 15px;
	display: inline-block;
}
