.room{
    width: 40%;
/*    margin-left: 5%;*/
    margin-right: 5%;
    float: left;
    
    
}

.timetable{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
}

.nav-content-inner ul{
    list-style: none;
    width: 100%;
}


.broom, .sroom{
    width: 45%;
    float: left;
    margin-left: 5%
}

.rnum {
    width: 70%;
}

button{
    border: 2px solid black ;
    width: 70%;
    padding-top: 28%;
    padding: auto;
}

.broom .rnum {
    margin-bottom: 20%;
}

.broom .froom {
    margin-bottom: 60%;
}

.sroom .rnum{
    margin-top: 25%;
}
